<div class="certificate-list-section">
  <h2>Your Uploaded Certificates</h2>
  <div
    *ngIf="certificates?.length; else noCertificates"
    class="certificate-grid"
  >
    <div *ngFor="let cert of certificates" class="certificate-card">
      <h4>{{ cert.course_title }}</h4>
      <a [href]="cert.certificate_url" target="_blank">📄 View Certificate</a>

      <button
        (click)="downloadCertificate(cert.certificate_url, cert.course_title)"
      >
        ⬇️ Download
      </button>

      <button (click)="onDelete(cert.id)" class="delete-btn">🗑️ Delete</button>
    </div>
  </div>

  <ng-template #noCertificates>
    <p class="no-certificates">No certificates uploaded yet 😔</p>
  </ng-template>
</div>
